@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .section-container {
    width: 100%;
    max-width: 90rem; /* or whatever max width you want */
    margin-left: auto;
    margin-right: auto;
    padding-left: max(5vw, 1rem); /* Responsive padding that hits edges when zoomed */
    padding-right: max(5vw, 1rem);
  }
}
/* Remove the @font-face declaration */

a {
  @apply cursor-pointer;
}

/* Hack to temporarily solve https://github.com/supabase/auth-ui/issues/219 */
.authBtn {
  @apply btn;
}

button[disabled].authBtn {
  font-size: 0.001px;
  filter: brightness(65%);
}

button[disabled].authBtn::before {
  font-size: 14px;
  content: "Loading...";
  color: hsl(var(--pc));
}
